body{
    font-family: 'Roboto', sans-serif;

}

#title {
    background-color:#0082c3;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    width: auto;
  }

#intro_main{
    background-color: darkgray;
    width: auto;
    height: 100px;
    text-align: center;
    vertical-align:middle;
    margin: 50px;
}

button{
    background-color: #FCEB05;
    border-radius: 10px;
    padding: auto;
    width: 200px;
    height: auto;
    border: 0;
    font-family: 'roboto', sans-serif;
    font-size:20px;
    cursor:pointer;
}

.user_intention_choose{
display: inline-block;
margin: 20px;
}

h1{
    text-align: center;
}

#biodata_container{
    margin: 20px

}

.spacer{
    background-color: lightsteelblue;
    height: 800px;
}

.user_intention{
    cursor:pointer;
}


.biodata_title{
    margin:10px
}

.bike{
    height: 200px;

}

#user_intention_container{
    display:inline-block;
    background-color: salmon;
}

#layer2_container{
    display:inline-block;
    background-color:purple;
    width: 10000px;
    height: 1000px;
}

#urban_hybrid{
    display:inline-block;
    background-color:greenyellow;
    width:1000px;
    height:500px;
    margin:100px;

}


#urban_cycling{
    display:inline-block;
    background-color: seagreen;
    width:1000px;
    height:500px;
    margin:100px;

}

#hybrid_cycling{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color: lightgreen;
    margin:100px;
}

#road_cycling{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color:pink;
    margin:100px;
}

#mountain_biking{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color:orange;
    margin:100px;
}

#layer3_container{
    display:inline-block;
    background-color:purple;
    width: 10000px;
    height: 1000px;
}

#city_folding{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color: seagreen;
    margin:100px;
}

#hybrid_gate2_features{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color: lightgreen;
    margin:100px;
}

#road_cycling_style1{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color:pink;
    margin:100px;
}


/* .zoomButton {
    background-color: red;
    color: white;
    margin-top: 10px
}

.somewhere-div {
    position: fixed;
    bottom: 50px;
    right: 100px;
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
} */