body{
    font-family: 'Roboto', sans-serif;

}

#title {
    background-color:#0082c3;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    width: auto;
  }

#intro_main{
    background-color: darkgray;
    width: auto;
    height: 100px;
    text-align: center;
    vertical-align:middle;
    margin: 50px;
}

button{
    background-color: #FCEB05;
    border-radius: 10px;
    padding: auto;
    width: 200px;
    height: auto;
    border: 0;
    font-family: 'roboto', sans-serif;
    font-size:20px;
    cursor:pointer;
}

.user_intention_choose{
display: inline-block;
margin: 20px;
}

h1{
    text-align: center;
}

#biodata_container{
    margin: 20px

}

.spacer{
    background-color: lightsteelblue;
    height: 800px;
}

.user_intention{
    cursor:pointer;
}


.biodata_title{
    margin:10px
}

.bike{
    height: 200px;

}

#user_intention_container{
    display:inline-block;
    background-color: salmon;
}

#layer2_container, #layer3_container, #layer4_container, #layer5_container, #layer6_container{
    display:inline-block;
    background-color:purple;
    width: 10000px;
    height: 1000px;
}

.layer_container{
    display:inline-block;
    background-color:purple;
    width: 10000px;
    height: 1000px;
}

#urban_hybrid{
    display:inline-block;
    background-color:greenyellow;
    width:1000px;
    height:500px;
    margin:100px;

}


#urban_cycling, #city_folding, #folding_bikes, #trad_city_bikes, #city_folding, #folding_bikes_style1, #trad_city_bikes_style1, #folding_bikes_style2, #trad_city_bikes_style2{
    display:inline-block;
    background-color: seagreen;
    width:1000px;
    height:500px;
    margin:100px;

}

#hybrid_cycling, #hybrid_gate2_features, #hybrid_gate3b_rugged_flexible{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color: lightgreen;
    margin:100px;
}

#road_cycling, #road_endurance, #road_racing, #road_cycling_style1, #road_endurance_style1, #road_racing_style1{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color:pink;
    margin:100px;
}

#mountain_biking, #mountain_biking_style1, #mtb_st, #mtb_xc, #mtb_am{
    display:inline-block;
    width: 1000px;
    height: 500px;
    background-color:orange;
    margin:100px;
}

#layer7_container{
    display:inline-block;
    background-color:purple;
    width: 29000px;
    height: 1000px;
    padding: 50px;
}



.bike_single, .bike_multiple{
    position:relative;
    left:0px;
    right: 0px;
    display:inline-block;
    width: 400px;
    height: 800px;
    background-color: lightyellow;
    margin: 10px;
    white-space: nowrap;
   
}

.bike_div_content{
    display: block;
}

.bike_shortDesc{
    white-space: normal;
}

.bike_div_img{
margin:auto;

}

ul{
    margin-left:-30px;
    padding:0px;
}

li{
    list-style: none ;
    }

.slide{
    background-color: white;
    width: 400px;
    display:inline-block;
    padding-left: 10px;
    padding-right: 0;
    margin-left:500px;
    margin-right:500px;
}

.active, .carousel-item{
    width: 400px;
    height:800px;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 30px;

}

.carousel-inner{
    width:400px;
    height:800px;
}

.carousel-control-prev-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }



    .carousel .carousel-indicators .active {
        background-color:black;
        height:5px;
      }


/* .zoomButton {
    background-color: red;
    color: white;
    margin-top: 10px
}

.somewhere-div {
    position: fixed;
    bottom: 50px;
    right: 100px;
    background-color: green;
    color: white;
    width: 200px;
    height: 200px;
} */